<div id="<%= dom_id tasklist %>">
  <p>
    <strong>Task name:</strong>
    <%= tasklist.Task_name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= tasklist.Details %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= tasklist.Due_date %>
  </p>

</div>
