<h1>Editing tasklist</h1>

<%= render "form", tasklist: @tasklist %>

<br>

<div>
  
  <%= link_to t('action.show_task'), @tasklist %> |
  <%= link_to t('action.back_task'), @tasklists_path %>

</div>
