
<%= render @tasklist %>

<div>
  
  <%= link_to t('action.edit_task'), edit_tasklist_path(@tasklist) %> 
  <%= link_to t('action.back_task'), tasklists_path %>

  <%= button_to t('action.destroy_task'), @tasklist, method: :delete %>

</div>
