
<%= render @user %>

 
<div>
  <%= link_to t('action.edit_user'), edit_user_path(@user) %> |
  <%= link_to t('action.back_user'), users_path %>

  <%= button_to t('action.destroy_user'), @user, method: :delete %>

</div>
